{% block content %}
<body style = "background-color: rgb(153, 83, 45);"></body>

    <style>
        .table{
            margin-left: auto;
            margin-right: auto;
        }
        table, th, td {
            background: rgb(239, 239, 241);
            border: 1px solid;
            padding: 15px;
            color: rgb(2, 2, 73);
            text-align: center;
        }
        h1{
            margin-top: 45px;
            color: rgb(247, 247, 247);
            text-align: center;
        }
    </style>
    <h1>Admission</h1>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Reg No</th>
                <th scope="col">Branch</th>
                <th scope="col">Year</th>
                <th scope="col">Semester</th>
             </tr>
            </thead>
            <br>
            {% for event in event_list %}
            <tr>
                <td>{{ event.Student_name }}</td>
                <td>{{ event.Reg_no }}</td>
                <td>{{ event.Branch }}</td>
                <td>{{ event.Class }}</td>
                <td>{{ event.Semester }}</td>
            </tr>
            </br>
        </tbody>
        {% endfor %}
    </table>

    


{% endblock %}