{% block content %}
<body style = "background-color: rgb(153, 83, 45);"></body>
    <style>
        .table{
            margin-left: auto;
            margin-right: auto;
        }
        
        table, th, td {
            border: 1px solid;
            padding: 15px;
            color: rgb(250, 250, 250);
            text-align: center;
        }
        h1{
            margin-top: 45px;
            text-align: center;
            color:rgb(243, 237, 237)

        }
        
    </style>
    <h1><center>Admission </center></h1>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Reg No</th>
                <th scope="col">Subject</th>
                <th scope="col">Feedback</th>
             </tr>
            </thead>
            <br>
            {% for event in event_list %}
            <tr>
                <td>{{ event.Reg_no }}</td>
                <td>{{ event.Subject }}</td>
                <td>{{ event.Feedback }}</td>
            </tr>
            </br>
        </tbody>
        {% endfor %}
    </table>

    


{% endblock %}