OPENROUTER_API_KEY=your_openrouter_api_key_here
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here
SENDER_EMAIL=your_sender_email_here
GMAIL_APP_PASSWORD=your_gmail_app_password_here
GOOGLE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/your_sheet_id_here/export?format=csv
GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/your_app_script_deployment_id_here/exec

