{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between">
  <h3>Hospitals</h3>
  {% if user.is_superuser %}<a class="btn btn-danger" href="{% url 'add_hospital' %}">Add Hospital</a>{% endif %}
</div>
<div class="card p-3 mt-2">
  <table class="table">
    <thead><tr><th>Name</th><th>Address</th><th>User</th>{% if user.is_superuser %}<th>Actions</th>{% endif %}</tr></thead>
    <tbody>
    {% for h in hospitals %}
      <tr><td>{{ h.name }}</td><td>{{ h.address }}</td><td>{{ h.user.username }}</td>
      {% if user.is_superuser %}<td><a class="btn btn-sm btn-secondary" href="{% url 'edit_hospital' h.id %}">Edit</a></td>{% endif %}</tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
